<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Utility_Winfarm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.8.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data><userSettings>
        <Utility_Winfarm.Properties.Settings>
            <setting name="percorsoLinfaServer" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="percorsoWinfarm" serializeAs="String">
                <value>c:/program files (x86)/winfarm/archivi/arc2000.phs</value>
            </setting>
            <setting name="serverWinfarm" serializeAs="String">
                <value>server</value>
            </setting>
            <setting name="utenteLinfa" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="utenteWinfarm" serializeAs="String">
                <value>SYSDBA</value>
            </setting>
            <setting name="pwLinfa" serializeAs="String">
                <value>phs2012</value>
            </setting>
            <setting name="pwWinfarm" serializeAs="String">
                <value>masterkey</value>
            </setting>
        </Utility_Winfarm.Properties.Settings>
    </userSettings>
</configuration>